/* font css */

h1 {
    text-align: center;
    font-size: 1.75rem;
}


h2 {
    font-size: .8rem;
    font-family: The Wild Hammers;
}


h3 {
      font-size: 1rem;
}


h4 {
    padding-right: 3%;
    font-size: .75rem;
}

p {
    font-size: .8rem;
}
 
 
 /* end font css */

.about-header {
    width: 100%;
    background-color:black;
    padding: 1%;
    margin-left: -3%;
    margin-bottom: 1%;
    box-shadow: 2px 2px 5px black;
    color: white;
    font-family: The Wild Hammers;
}


 .links {
    width: 100%;
    display:flex;
    flex-direction:column;
    margin-top:3%;
    padding-bottom:1%;
    border-bottom: .1px solid grey;
}

.links nav a { 
    text-decoration: none;
    font-size: .8rem;
    margin-left:10%;
    color: black;
}


.about-info {
      width:90%;
      max-height: 300%;
      display: flex;
      flex-direction:column; 
      margin-top:5%;
}

   
 .top-img {
    background: slategray;
    box-shadow: 5px 5px 5px slategrey;
    width: 60%;
    height: 50%;
    margin-bottom: 3%;
    margin-left:20%;
}

 .text-info {
    border: .3px dotted grey;
    padding: 5%;
    width: 85%;
    margin-left:5%;
}


.aside {
   
    display: block;
    max-width: 60%;
    border-left: 1px solid lightgrey;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    font-style: italic;
} 

.skills {
    display:inline-block;
     width: 100%;
    margin-top: 1%;
    margin-left: -2rem;
    padding-left: 15%;
    background-color: black;
    box-shadow: 3px 3px 3px grey;
    border-top: 1px solid slategrey;
    color: white;
    font-family: The Wild Hammers;
}


.skills .skills-title  h2 {
    margin-top: 6%;
    padding-left: 30%;
    padding-bottom: 1%;
    font-size: 1.3rem;
    border-bottom: .5px solid white;
}

.skills .skills-list {
    padding-left: 10%;
    margin-top: 3%;
}

.h3-projects {
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    border: .2px solid black;
    color: black;
    width: 90%;
    margin-top: 5%;
}

.h3-projects h3 {
    font-family: The Wild Hammers;
    font-size: 1.2rem;
    padding-left: 30%;
    padding-top: 1%;
}

.project {
    margin-top: 3%;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    border: .1px solid grey;
    margin-right: 2%;
} 

.footer {
    width: 100%;
    background: slategrey;
    padding: 2%;
}
