@media (min-width: 760px) {
    h1 {
    font-size: 2rem;
    }
}

@media (min-width: 760px) {
    h2 {
    font-size: 1.5rem;
    }
}

@media (min-width: 760px) {
    h4 {
    font-size: 1.2rem;
    }
}

@media (min-width: 760px) {
    p {
    font-size: 1rem;
    }
}


@media (min-width: 760px) {
    .about-header {
     width: 100%;
     margin-left:0;

    }
}


@media (min-width: 760px) {
    .links nav a {
    margin-left:15%;
    }
}

@media (min-width: 1024px) {
    .links nav a {
    font-size: 1.2rem;
    }
}

@media (min-width:700px){
    .about-info {
    width: 100%;
    display:inline-block;
    }
}

@media (min-width: 760px) {
    .top-img {
    width: 30%;
    margin-left:35%;
    }
}

@media (min-width: 760px){
    .text-info {
    text-align:center;
    padding: 1%;
    width:70%;
    height: 20%;
    margin-top: 3%;
    margin-left: 15%;
    }
  }

  @media (min-width: 760px) {
    .skills {
    display: flex;
    width: 90%;
    margin-top: 5%;
    margin-left: -2rem;
    padding-left: 15%;
    padding-bottom: 2%;
    background-color: black;
    box-shadow: 3px 3px 3px grey;
    border-top: 1px solid slategrey;
    color: white;
    font-family: The Wild Hammers;
    }
}

@media (min-width: 760px){
    .skills .skills-title{
    margin-top:2%;
    padding: 6%;
    border:.2px solid white;
    margin-left:20%;
    }
}

@media (min-width: 760px) {
    .h3-projects { 
    width: 98%;
    }
}


@media (min-width: 760px){ 
    .h3-projects h3 {
    font-size: 1.8rem;
    margin-top: 1%;
    padding-left: 40%;
    padding-top:3%;
    }
}

