.blog-header {
        width: 100%;
        background-color:black;
        padding: 1%;
        margin-left: -3%;
        margin-bottom: 1%;
        box-shadow: 2px 2px 5px black;
        color: white;
        font-family: The Wild Hammers;
    }
    .border-links {
        width: 100%;
        display:flex;
        flex-direction:column;
        margin-top:3%;
        padding-bottom:1%;
        border-bottom: .1px solid grey;
    }
    
    .border-links nav a { 
        text-decoration: none;
        font-size: .8rem;
        margin-left:12%;
        color: black;
    }
    
.intro-head {
    width: 90%;
    margin-left:3%;
    margin-top:3%;
    border: .02px solid black;
}

.para {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 1%;
    border-bottom: .7px dotted grey;
}
.para p {
    font-size: 16px;
}

.second-section {
    width: 100%;
    padding-bottom: 1%;
}

.second-section-img {
    padding:5%;
    margin-left: 18%;
    margin-top: 5%;
    border: .02px solid black;
    box-shadow: 2px 2px 5px black;
}

.forth-section {
    margin-top:3%;
    padding:1%;
    background-color: lightgrey;
    border: .2px dashed slategrey;
}

.forth-section .para {
    border-bottom: none;
}


.blog-footer {
    width: 98%;
    background: slategrey;
    padding:1%;
    margin-right:1%;
}

