@media (max-width: 760px) {
    .project-cards-row-two {
     margin-left: 10%;
    }
}

@media (min-width:762px) {
    .project-cards {
      margin-left: 5%;
    }
  }

  @media (min-width:760px){
    .project-cards-row-two {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
        min-height: 50%;
        margin: 3%;
        margin-left: 5%;
        margin-top: -10%;
      }
    }

    @media (min-width: 760px){ 
        .project-cards, .project-cards-row-two {
            flex-direction: row;
            flex-wrap: nowrap;
            width: 90%;
        }
    }

    @media (max-width: 760px) {
        .project-cards .project h2, .project-cards-row-two .project h2{
          font-size: 16px;
        }
      }

      @media (max-width: 760px){
        .icon2 {
          margin-right:-8%;
        }
      }
     
      @media (min-width: 762px){
       .icon2 {
         margin-right:-12%;
       }
     }
     
     