.top {
    max-width: 100%;
    padding-left:25%;
}

.top nav a {
    display:inline-block;
    padding-bottom:1%;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size:12px;
    padding-top: 2%;
    padding-left: 2%;
    margin-right:5%;    
}

    @media (min-width: 760px) {
         .top nav a {
          font-size: 16px;  
        }
    }
    
.content h1 {
    font-size: 2rem;
    font-family: The Wild Hammers;
}